@model IEnumerable<Webbshop.Models.CategoryDetail>

@{
    ViewData["Title"] = "Kategorier";
}



<h2>Kategorier</h2>
<hr />



<!-- Link to create new category -->
<p>
    <a href="@Url.Action("CreateCategory", "Employee")">
        <span class="fas fa-plus-circle" aria-hidden="true"></span>
        Skapa ny kategori
    </a>
</p>



<!-- Messages -->
@if ((ViewBag.error != null) && (ViewBag.error != ""))
{
    <p class="text-danger">Fel vid inläsning av kategorier: @ViewBag.error</p>
}

@if ((ViewBag.deleteError != null) && (ViewBag.deleteError != ""))
{
    <p class="text-danger">Fel vid borttagning av kategori: @ViewBag.deleteError</p>
}
else if ((ViewBag.categoryName != null) && (ViewBag.categoryName != ""))
{
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <p class="text-success">Kategorin <b>@ViewBag.categoryName</b> är nu borttagen! <!-- @ViewBag.affectedRows rad påverkades. --></p>
            <button class="btn btn-success" id="close">OK</button>
        </div>
    </div>
}



<!-- List of categories -->
<p>Alla kategorier:</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a href="@Url.Action("EditCategory", "Employee", new { id = item.Id })" class="btn btn-primary">
                    <span class="fas fa-pen" aria-hidden="true"></span>
                    Redigera
                </a>
                <a href="@Url.Action("DeleteCategory", "Employee", new { id = item.Id, categoryName = item.CategoryName })" onclick="return confirm('Är du säker på att du vill radera denna kategori?')" class="btn btn-danger">
                    <span class="fas fa-trash" aria-hidden="true"></span>
                    Radera
                </a>
            </td>
        </tr>
    }

</table>
