@using Webbshop.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logga in";
}

<h2>Logga in</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="manage-form">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe, new { Style = "margin-left: 0;" })
                            @Html.LabelFor(m => m.RememberMe, new { Style = "margin-left: 0;" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Logga in" class="btn btn-primary form-button" />
                    </div>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
                </div>
            }
            <p>
                @Html.ActionLink("Registrera ett nytt konto", "Register")
            </p>
        </section>
    </div>
    <!--
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}